*{
    margin: 0;
    padding: 0;
}
.logo{
    width: auto;
    height: 60px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style: none;
}
.menu li a {
    background-color: red;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    display: block;
}
.menu > li {
    float: left;
}
.menu li a:hover {
    background-color: blue;
    color: white;
}
.menu ul {
    display: none;
    position: absolute;
}
.menu li:hover > ul {
    display: block;
    
}
.menu li ul li {
    position: relative;
}
.menu li ul li ul {
    left: 100%;
    top: 0;
}
iframe {
    width: 852px;
    height: 480px;
    border: none;
    align-content: center;
}